<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/files/logo.svg" />
    <link rel="icon" type="image/x-icon" href="/files/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/files/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/files/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/files/apple-touch-icon.png" />
    <link rel="manifest" href="/files/site.webmanifest" />
    {{ .inertiaHead }} {{ viteReactRefresh }} {{ vite "resources/js/app.jsx" }}
  </head>

  <body class="font-sans antialiased">
    {{ .inertia }}
  </body>
</html>
